<!-- views/partials/footer.ejs -->
    <footer>
        <!--d3 scrpit-->
        <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script></script>
    </footer>
</body>
</html>